<script>
    import "../app.css"
    
    import { page } from "$app/stores";
</script>

<svelte:head>
    {#if $page.data.post?.title}    
      <title>Blog | {$page.data.post?.title}</title>
    {:else}
      <title>DemoKit</title>
    {/if }

</svelte:head>

<nav class="container">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/todos">ToDos</a></li>
        <li><a href="/posts">Blog</a></li>
        <li><a href="/login" role="button">Login</a></li>
    </ul>
    <ul>
      
    </ul>
    <ul>
        
    </ul>
</nav>

<slot />

<style>
    :global(body){
      font-family: 'Space Grotesk', sans-serif;
    }
    nav ul {
      padding-top: .75rem;
      gap: 1rem;
    }
</style>
  