<script lang="ts">
	async function subscribe(event: Event) {
		const form = event.target as HTMLFormElement
		const data = new FormData(form)

		await fetch('/api/newsletter', {
			method: 'POST',
			body: data
		})
	}

	// Login
	import { applyAction, enhance } from '$app/forms'
	import type { SubmitFunction } from '@sveltejs/kit'
	import type { ActionData } from './$types'

	export let form: ActionData

	const login: SubmitFunction = () => {
		return async ({ result }) => {
			await applyAction(result)
		}
	}
</script>

<main class="container">
	<hgroup>
		<h1>Hi! I'm Pruthivi Thejan</h1>
		<h3>Developer & Designer</h3>
	</hgroup>
</main>

<div class="container">
	<h2>Login Form</h2>
	<form method="POST" use:enhance={login} action="/login">
		<label for="username">Username</label>
		<input type="text" name="user" value={form?.data?.user ?? ''} />
		{#if form?.errors?.user}
			<p class="error">Name is required</p>
		{/if}
		<label for="password">Password</label>
		<input type="password" name="password" value={form?.data?.password ?? ''} />
		{#if form?.errors?.password}
			<p class="error">Password is required</p>
		{/if}
		<button type="submit">Login</button>
	</form>
</div>

<footer class="container">
	<h1>Newsletter</h1>
	<form on:submit|preventDefault={subscribe}>
		<input type="email" name="email" />
		<button type="submit">Subscribe</button>
	</form>
</footer>

<style>
	* {
		font-family: 'Space Grotesk', sans-serif;
	}
	.error {
		color: tomato;
	}
</style>
