<script lang="ts">
    // ==== Server side loading (+page.ts) ====
	import type { PageData } from "./$types"
    import {formatDate} from '$lib/utils'

    export let data: PageData

    // make it reactive
    $:({posts} = data)


    // ==== Client side loading ====
    // import type {Post} from '@prisma/client'

    // async function getPosts() {
    //     const response = await fetch('api/posts')
    //     const posts: Post[] = await response.json()
    //     return posts
    // }

</script>
    <div class="container"><h1>Posts</h1></div>

    <!-- ==== Client side rendering ==== -->
    <!-- {#await getPosts() }
        <p>Loading...</p>
    {:then posts }
        <div class="container">
            <p>Latest {posts.length} posts</p>
            {#each posts as post }
            <article>
                <h3><a href="/posts/{post.slug}">{post.title}</a></h3>
                <small>Created At: {post.createdAt}</small><br/>
                <small>Updated At: {post.updatedAt}</small>
            </article>   
            {/each}
       </div>
    {:catch error}
     <p>{error.message}</p>
    {/await} -->

    <!-- ==== Server side rendering ==== -->
    <div class="container">
        <p>Latest {posts.length} posts</p>
        {#each posts as post }
        <article>
            <h3><a href="/posts/{post.slug}">{post.title}</a></h3>
            <small>Created At: {post.createdAt}</small><br/>
            <small>Updated At: {post.updatedAt}</small>
        </article>   
        {/each}
   </div>
    

<style>
    * {
      font-family: 'Space Grotesk', sans-serif;
    }
</style>