<script lang="ts">
	import { enhance } from '$app/forms'
    import type { ActionData, PageData, SubmitFunction } from './$types';
    export let data: PageData;

//     import { invalidateAll } from '$app/navigation'
//     type Data = {
// 	success: boolean
// 	errors: Record<string, string>
// }
    
    
//     let form : Data

//     async function addTodo(event: Event) {
//         const formElement = event.target as HTMLFormElement
//         const data = new FormData(formElement)


//         const response = await fetch (formElement.action, {
//             method: "POST",
//             body: data
//         }) 

//         const responseData = await response.json()

//         form = responseData
//         formElement.reset()

//         await invalidateAll()
//     }

//     async function removeTodo(event: Event) {
//         const formElement = event.target as HTMLFormElement
//         const data = new FormData(formElement)

//         const response = await fetch (formElement.action, {
//             method: "DELETE",
//             body: data
//         }) 

//         await invalidateAll()
//     }

export let form: ActionData

let loading = false

const addTodo: SubmitFunction = () => {

    loading = true
    return async ({update}) => {
        loading = false
        await update()
    }
}

</script>

<main class="container">
    <ul>
        {#each data.todos as todo }
            <li>
            <div class="todo-item">
                <span>{todo.text}</span>
                <!-- <form method="POST" on:submit|preventDefault={removeTodo}> -->
                <form method="POST" action="?/removeTodo" use:enhance>
                    <input type="hidden" name="id" value={todo.id}>
                    <button type="submit" class="btn-action">❌</button>
                </form>
            </div>
            </li>
        {/each}
    </ul>

    <!-- <form on:submit|preventDefault={addTodo} method="post"> -->
    <form method="POST" action="?/addTodo" use:enhance>
        <div class="todo-item">
            <input type="text" name="todo">
            <!-- {#if form?.errors?.todo} -->
            {#if form?.missing}
                <kbd class="error">This field is required 🙃</kbd>
            {/if}
            <button aria-busy={loading} type="submit" class="btn-action">
                {#if !loading}
                  ➕
                {/if}
            </button>
        </div>
        <button formaction="?/clearTodo" type="submit">Clear All 🚮</button>
    </form>

    {#if form?.success}
        <kbd class="success">Added ToDo 🥳</kbd>
    {/if}
</main>

<style>

    main{
        padding-top: 2.5rem ;
    }

    ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    li{
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
    span{
        text-transform: capitalize;
    }

    .btn-action {
        margin: 0;
        padding: 2px;
        width: fit-content;
        background-color: aliceblue;
    }
    
    .todo-item{
        display: flex;
        gap: 1rem;
        align-items: start; 

    }

    .success{
        background-color: rgb(34 197 94) ;
        color: rgb(226 232 240) ;
    }

    .error{
        background-color: rgb(239 68 68) ;
        color: rgb(226 232 240) ;
    }
</style>