<script lang="ts">
	import type { PageData } from "./$types"
    import {formatDate} from '$lib/utils'

    export let data: PageData


</script>

<div class="container">
    <hgroup >
        <h1>{data.post.title}</h1>
        <h2>{formatDate(data.post.createdAt)}</h2>
    </hgroup>

    <div class="content">
        {@html data.post.content}
    </div>
</div>

<style>
    * {
      font-family: 'Space Grotesk', sans-serif;
    }
</style>