@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
	--primary: #00897b;
	--primary-hover: #00796b;
	--primary-focus: rgba(0, 137, 123, 0.125);
	--primary-inverse: #fff;
}

/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--primary: #00897b;
		--primary-hover: #009688;
		--primary-focus: rgba(0, 137, 123, 0.25);
		--primary-inverse: #fff;
	}
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
	--primary: #00897b;
	--primary-hover: #009688;
	--primary-focus: rgba(0, 137, 123, 0.25);
	--primary-inverse: #fff;
}

/* Teal (Common styles) */
:root {
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);
}
