<script lang="ts">
	import { enhance } from '$app/forms'
	import type { ActionData } from './$types'

	export let form: ActionData
</script>

<div class="container">
	<h2>Login Form</h2>
	<form method="POST" use:enhance>
		<label for="username">Username</label>
		<input type="text" name="user" value={form?.data?.user ?? ''} />
		{#if form?.errors?.user}
			<p class="error">Name is required</p>
		{/if}
		<label for="password">Password</label>
		<input type="password" name="password" value={form?.data?.password ?? ''} />
		{#if form?.errors?.password}
			<p class="error">Password is required</p>
		{/if}
		<button type="submit">Login</button>
	</form>
</div>

<style>
	* {
		font-family: 'Space Grotesk', sans-serif;
	}
	.error {
		color: tomato;
	}
</style>
